:host {
  display: block;
  height: 100%;
}


.sidebar-link {
  color: #cdd6f4;
  border-left: 3px solid transparent;
  position: relative;
  transition: all 180ms ease;

  &.active-link {
    background: rgba(56, 189, 248, 0.15);
    color: #ffffff;
    transform: translateX(4px);
    backdrop-filter: blur(4px);

    box-shadow:
      inset 0 0 12px rgba(56, 189, 248, 0.35),
      0 0 8px rgba(0, 179, 255, 0.25);

    &::after {
      content: "";
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 100%;
      background: linear-gradient(to bottom, #38bdf8, transparent);
      border-radius: 0 1px 1px 0;
    }
  }

  &:hover {
    background: rgba(56, 189, 248, 0.1);
    transform: translateX(2px);
    color: white;
  }
}

