<div class="auth-wrapper">

  <!-- LEFT PANEL -->
  <div class="auth-left animate-slide">
    
    <img src="assets/logo/eq-logo.png" class="auth-logo">

    <h2 class="title">Welcome Back</h2>
    <p class="subtitle">Sign in to continue to EQ-Web Admin</p>

    <router-outlet></router-outlet>

  </div>

  <!-- RIGHT PANEL -->
  <div class="auth-right">
    <div class="overlay"></div>
    <img src="assets/bg/sidebar-pattern.jpg" class="bg-image">
    
    <div class="hero-text animate-fade">
      <h1>Bring Your Ideas to Life.</h1>
      <p>Powerful tools to managequizzes, courses, students and analytics — all in one place.</p>
    </div>
  </div>

</div>
